.hr-booking-requests {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #eb6d6d;
    background-color: #f9f9f9;
  }
  
  .booking-card {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ff003c;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #059ca4;
  }
  button.approve-btn {
    background-color: #28a745; /* Green */
  }
  
  button.reject-btn {
    background-color: #dc3545; /* Red */
  }
  